@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
        @apply font-[Questrial];
    }     
    li {
        @apply px-4;
        @apply cursor-pointer;
    }  
}

/*SLIDE-UP ANIMATION*/
@keyframes slideUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .hidden-initial {
    opacity: 0;
    transform: translateY(20px);
  }
  
  .slide-up {
    animation: slideUp 1.0s ease-out forwards;
  }
  
  /*Project Cards CSS*/
  .content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
  }

  .content-div:hover {
    background-image: linear-gradient(
      to right,
      rgba(121, 64, 62, 0.8),
      hsla(3, 36%, 19%, 0.8)
    )!important;
  }

  /*SLIDE-SIDER ANIMATION*/
  @keyframes slideInFromCorner {
    from {
      transform: translateX(-100vw) translateY(-100vh);
      opacity: 0;
    }
    to {
      transform: translateX(0) translateY(0);
      opacity: 1;
    }
  }
  
  .slide-in-corner {
    animation: slideInFromCorner 1.5s ease-out forwards;
  }
  
  